CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cudacost.png
cudadisp.png
normals.png
gipuma/Debug
gipuma/Release
gipuma/x64/Debug
gipuma/x64/Release
results
scripts/data
.cproject
.project

*.sdf
*.opensdf

